
/** Channels **/

.channel {
    display: inline-block;
}

.channel.closed,
.channel.minimized > :not(.show-on-minimized, .title-bar) {
    display: none;
}

.channel.minimized {
    min-width: 16em;
}

/* Navigation */


.navigation-commands {
    border: 1px solid;
    display: block;
    min-width: 5em;

    /*transition: min-width 0.5s, transform 0.5s;*/
}

.navigation-commands:hover {
    /*min-width: 12em;*/
}

.navigation-commands {
    position: relative;
    z-index: 999;

    display: inline-block;
    background-color: lightgrey;
    padding: 0.5em;
    margin-bottom: 0.5em;
    animation: fade-in;
    /* border: 2px groove threedface; */
    vertical-align: top;
}

.navigation-commands header button {
    border: 1px inset;
}
.navigation-commands.closed header button {
    border-style: outset;
}
.navigation-commands header {
    font-weight: bold;
    text-shadow: 1px 1px 1px #AAA;
}
.navigation-commands ul {
    list-style: none;
    padding: 0;
    margin: 0.5em 0 0 0;
}
.navigation-commands ul lh,
.navigation-commands ul li.header,
.navigation-commands ul li {
    background-color: #EEE;
    border-radius: 0.3em;
    padding: 0.05em 0.5em;
    margin-bottom: 2px;
    margin-right: 2px;
    display: list-item;
    font-family: monospace;
    border: 1px inset;
}

.navigation-commands ul lh,
.navigation-commands ul li.header {
    background-color: #BFBFBF;
    border-style: outset;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px #AAA; */
    /* text-transform: lowercase; */
    margin-top: 1em;
}
.navigation-commands ul li:hover {
    background-color: #EEEEAA;
}

.navigation-commands {
    border: 1px outset;
    border-radius: 4px;
}
.navigation-commands.closed {
    border-radius: 0.5em;
    border-style: inherit;
}
.navigation-commands.closed .hide-on-close {
    display: none;
}
.navigation-commands.closed:hover .hide-on-close {
    display: block;
}
.navigation-commands.closed:hover span.hide-on-close {
    display: inline;
}