.client-container {
    /* min-height: 50vw; */

    white-space: nowrap;
    /* background-color: #EEEEEE; */
}

.channel-list {
    min-height: 32vw;
    width: 20%;
    /* font-size: 2vw; */
}
.channel-container {
    display: inline-block;
    overflow: auto;
    width: 80%;
    min-height: 32vw;
    position: relative;
    background-color: #EEEEEE;
    /* float: right; */
}
.channel-output {
    max-height: 30vw;
    max-width: 72vw;
}

.channel-message {
    width: 90%;

    positioN: absolute;
    bottom: 0;
}
.channel-submit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4em;
}

.channel-log {
    font-family: monospace;
    
    /* font-size: 2vw; */
    white-space: nowrap;
}

.channel-log .user {
    /* margin-right: 1vw; */
    text-decoration: none;
    color: darkblue;
    max-width: 10em;
    display: inline-flex;
    overflow: hidden;

}
.channel-log .user:hover {
    text-decoration: underline;
    cursor: pointer;
    max-width: inherit;
}

.channel-log .message {
    white-space: normal;
}