.socket-channel-container {
    /* width: 85%; */
    font-family: monospace;
    color: grey;
    /* float: right; */
}
.socket-channel-content {
    overflow: auto;
    max-height: 20vw;
}
/*.socket-channel-output {*/
    /*background-color: #EEEEEE;*/
    /*position: relative;*/
    /*padding-bottom: 1.9em;*/
    /*overflow: auto;*/
    /*min-height: 10em;*/
/*}*/

.socket-channel-list {
    font-family: monospace;    color: grey;
    
    float: left;
    min-width: 13em;
}

.socket-channel-list-entry {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.socket-form {
    positioN: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.socket-input-post {
    width: 100%;
    font-family: monospace;
}

.socket-form-submit {
    width: 10%;
}


.socket-channel .user {
    text-decoration: none;
    color: darkblue;
    max-width: 10em;
    display: inline-flex;
    overflow: hidden;
}


.socket-channel .user:hover {
    text-decoration: underline;
    cursor: pointer;
    max-width: inherit;
}


.socket-channel .message {
    white-space: normal;
    color: black;
}


.socket-channel .action {
    color: darkred;
    
    font-style: italic;
}

.socket-channel .path {
    color: darkgreen;
    font-weight: bold;
}
