/** Article **/

article.ks-put-manage\3A > main,
article.ks-put-manage\3A > section {
    padding: 1em 2em 1em 2em;
    border: 3px inset;
}

article.ks-put-manage\3A > .status-box:empty {
    display: none;
}

/** Table **/
.ks-put-manage-info > table {
    width: 100%;
    text-align: left;
}
.ks-put-manage-info > table > tbody > tr > th {
    color: #999;
    /*border-bottom: 1px solid;*/
    /* text-align: right; */
}
.ks-put-manage-info > table > tbody > tr > th:first-child,
.ks-put-manage-info > table > tbody > tr > td:first-child {
    color: #999;
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
}

/** Content **/

.ks-put-manage-content {
    white-space: pre;
    overflow: auto;
    max-height: 10em;
    max-width: 32vw;
}

/** Commands **/

.ks-put-manage-commands > form {
    display: inline-block;
}
.ks-put-manage-commands > form > button {
    /* display: inline-block; */
    /* text-decoration: none; */
    /* background: ButtonFace; */
    /* color: ButtonText; */
    /* border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; */
    padding: 0.7em 0.8em;
    border-radius: 0.6em;
    border: 1px outset;
}

/** Form **/

article:not(.no-entry) form[name=ks-put-manage-add-form] {
    display: none;
}

article.published form[name=ks-put-manage-publish-form],
article.no-entry form[name=ks-put-manage-publish-form],
article.no-entry form[name=ks-put-manage-edit-form],
article.no-entry form[name=ks-put-manage-delete-form] {
    display: none;
}
