.layout-horizontal .console\3A {
    float: right;
    clear: right;
    min-width: 20em;
}

.console-content\3A {
    padding: 1em 2em 1em 2em;
    border: 3px inset;
    height: 16em;
    overflow-y: auto;
    background: #FFF;

    /*left: 1em;*/
    /*bottom: 1em;*/
    /*position: absolute;*/
    /*min-width: 31em;*/
}

article.console\3A > main,
article.console\3A > section {
     background: #FFF;
}

.console-entry {
    font-family: monospace;
    max-width: 40em;
}

.console-entry span.message {
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
    display: inline-block;
}

.console-entry span.direction {
    vertical-align: top;
}