
/** Channels **/

.channel {
    display: inline-block;
}

.channel.closed,
.channel.minimized > :not(.show-on-minimized):not(.header-bar) {
    display: none;
}

.channel.minimized {
    min-width: 16em;
}

.channel.maximized {
    position: absolute;
    width: 90%;
}