
form[name=http-put-form] input[type=submit] {
    padding: 0.5em 1em;
    margin: 0.5em;
}

form[name=http-put-form].compact .hide-on-compact{
    display: none;
}

form[name=http-put-form] .show-on-passphrase-required {
    display: none;
}
form[name=http-put-form].passphrase-required .show-on-passphrase-required {
    display: inherit;
}

