
.pgp-verified-content .feed-post {
    display: none;
}

.label-passphrase {
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
}

.feed-post-author .user_icon {
    float:left;
    width: 24px;
    height: 24px;
}

form[name=feed-post-form] label {
}


form[name=feed-post-form] textarea[name=content] {
    min-height: 5em;
    font-family: monospace;
    display: block;
}

form[name=feed-post-form] input[name=channel] {
    width: 42%;
    font-family: monospace;
}

form[name=feed-post-form] input[type=submit] {
    padding: 0.5em 1em;
    margin: 0.5em;
}



.feed-container button.command {
    padding: 0.2em 0.5em;
    margin: 0.1em;
    animation: fadein 2s;
}

.feed-container .feed-post-container {
    max-width: 42em;
    /* width: 23em; */
}

.feed-container .timestamp_formatted {
    color: gray;
}

.feed-container {
    max-height: 42em;
    overflow-y:auto;
}