
.pgp-verified-content .feed-post {
    display: none;
}

.feed-author .user_icon {
    float:left;
}

.user_icon {
    width: 48px;
    height: 48px;
    vertical-align: top;
}

.user_icon.tiny {
    width: 24px;
    height: 24px;
}


form[name=feed-form] textarea[name=content] {
    min-height: 5em;
    font-family: monospace;
    display: block;
}

form[name=feed-form] input[name=channel] {
    width: 42%;
    font-family: monospace;
}

form[name=feed-form] input[type=submit] {
    padding: 0.5em 1em;
    margin: 0.5em;
}

/** Feed Entry **/

.channel.feed-entry {
    display: block;
}

.feed-entry .feed-content-source,
.feed-entry .feed-content {
    max-width: 36em;
    max-height: 12em;
    overflow-y:auto;
}


.feed-entry button.command {
    padding: 0.2em 0.5em;
    margin: 0.1em;
    animation: fade-in 2s;
}

.feed-entry .timestamp_formatted {
    color: gray;
}

.feed-entry .feed-content-source {
    white-space: pre-line;
}

.feed-entry.show-source .feed-content,
.feed-entry:not(.show-source) .feed-content-source,

.feed-entry:not(.show-comments) .feed-comments-section,
.feed-entry:not(.share) .feed-share-section,
.feed-entry:not(.show-info) .feed-info-section {
    display: none;
}

form[name=feed-like-form],
form[name=feed-comments-form],
form[name=feed-share-form],
form[name=feed-source-form] {
    display: inline;
}

.feed-entry.like form[name=feed-like-form] button,
.feed-entry.show-comments form[name=feed-comments-form] button,
.feed-entry.show-source form[name=feed-source-form] button {
    border: 1pt inset;
}

/** Animation **/

@keyframes fade-in {
    from { opacity:0; }
    to { opacity:1; }
}