form[name=ks-create-script-form] {
    min-width: 30em;
}
.put-preview-source-output {
    /* tab-size: 2px; */
    white-space: pre-wrap;
    margin: 0;
    /* font-style: italic; */
}

/** Form Buttons **/
form[name=ks-create-script-form] input,
form[name=ks-create-script-form] select {
    padding: 0.5em 1em;
}

/** Hide Radio Buttons **/
form[name=ks-create-script-form] input[name=radio-step] {
    display: none;
}

/** Tab Buttons **/
form[name=ks-create-script-form] .button-step {
    border: 2px outset;
    padding: 0.1em 0.5em;
    display: inline-block;
    /* font-style: italic; */
    /* float: left; */
}

/** Hide Future Tab Button **/
form[name=ks-create-script-form] input[name=radio-step]:checked ~ .button-step {
    display: none;
}

/** Activated Tab Button **/
form[name=ks-create-script-form] input[name=radio-step]:checked + .button-step {
    border-style: inset;
    display: inline-block;
}
