.channel-search-window\3A {
    /* min-width: 20em; */
    /* padding: 1em 2em 1em 2em; */
    /* border: 3px inset; */
    /* height: 16em; */
    /* overflow-y: auto; */
    /* background: #FFF; */
    /*left: 1em;*/
    /*bottom: 1em;*/
    /*position: absolute;*/
    /*min-width: 31em;*/
}

article.channel-search-window\3A > main,
article.channel-search-window\3A > section {
     background: #FFF;
     padding: 0.2em 1em;
}
.channel-search-results\3A   {
}


.channel-search-results\3A  table td{
    /* font-family: monospace; */
    max-width: 40em;
}


.channel-search-results\3A  table {
    /* display: inline-table; */
    /* margin: 1em; */
    /* border: 6px dashed; */
}

.channel-search-results\3A  table th,
.channel-search-results\3A  table td {
    border: outset 1px;
    padding: 0.4em 0.7em;
}

.channel-search-results\3A  table th {
    background-color: #DDD;
}
.channel-search-results\3A  table tr:hover {
    background-color: #CFE;
    cursor: pointer;
}

.channel-search-results\3A  a.search-entry-command a:visited,
.channel-search-results\3A  a.search-entry-command{
    border: 1px outset #FFF;
    border-radius: 0.5em;
    background-color: #DDD;
    text-decoration: none;
    /* font: menu; */
    display: inline-block;
    padding: 0.3em 0.5em;
    transition: max-width 0.2s, box-shadow 0.3s;
    /* max-width: 2em; */
    overflow: hidden;
    text-align: center;
}

.channel-search-results\3A  a.search-entry-command:hover {
    box-shadow: 0 0 2em #00F;;
/*     max-width: 10em; */
}


form[name=channel-search-form] select,
form[name=channel-search-form] input {
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 0.6em;
    border-width: 1px;
}
