.layout-horizontal .sockets-window\3A {
    float: right;
    clear: right;
    min-width: 20em;
}

.sockets-window\3A > main {
    padding: 0.5em 1em;
    border: 1px inset;
    background: #FEFEFE;
}

.sockets-window-list .open {
    color: green;
}

.sockets-window-list .connecting {
    color: blue;
}

.sockets-window-list .closing {
    color: red;
}

.sockets-window-list .closed {
    color: darkred;
}