article.ui-login {
}

.ui-login .empty .hide-on-empty {
    display: none;
}

.ui-login button.user-login  {
    /* display: inline-block; */
    margin: 0.2em 0.0em;
    padding: 0.5em 0.8em;
    border-radius: 0.9em;
    border: 1px outset;
    cursor: pointer;
    width: 100%;
}

.ui-login .user-list button:hover {
    font-weight: bold;
}

/** Form **/

form[name=ui-login-form] {
    /* padding: 2px; */
    /* border: 1px inset; */
    /* position: relative; */
}


form[name=ui-login-form] .status-box:empty {
    display: none;
}


/** Buttons **/


.ui-login-info {
    padding: 1em 2em;
    margin: 1em 2em;
    border: outset;
    background-color: #FFF;
/*     text-align: center; */
    /*     display: block; */
    /*ease-out;*/
    box-shadow: 0.1em 0.1em 0.32em #999;
}

.ui-login-button {
    padding: 2em;
    display: block;
    border: 1px outset lightgray;
    margin: 1em 1em;
    background: #DDD;
    /*     text-align: center; */
    cursor: pointer;
    /*font-size: 3vw;*/
    transition: box-shadow 0.5s ease-out;
    box-shadow: 0.1em 0.1em 0.5em #999;
}


.ui-login-button.disabled {
    color: grey;
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: 0 0 0 #999;
}

.ui-login-button:hover {
    box-shadow: 0 0 1em #09F;
}