/** Form **/

.ks-put-script-select-window\3A  main,
.ks-put-script-select-window\3A  section {
    padding: 1em 2em 1em 2em;
    border: 3px inset;
    background-color: #FAFAFA;
}

form[name=ks-put-script-select-form] select,
form[name=ks-put-script-select-form] input {
    padding: 0.5em 1em;
    margin: 0.5em 0;
}
