
/** Script **/

.ks-browser\3A  .ks-response-400 {
    border: 1px solid red;
}

.ks-browser\3A {
    /* min-height: 15em; */
}

.ks-browser\3A  nav {
    background-color: lightgray;
    border: 1px outset;
}

.ks-browser\3A  input[name=url] {
    width: 21em;
}

.ks-browser\3A  nav input[name=url] {
    padding: 1px 5px;
}

.ks-browser\3A  nav button {
    /* height: 24px; */
    /* vertical-align: top; */
    margin: 1px;
    border: 0;
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px 1px #999;
    background-color: transparent;
}

.ks-browser\3A  .ks-body {
    /* min-height: 11em; */
    white-space: pre;
    padding: 0.5em;
}

.ks-browser\3A  .ks-status {
    background-color: lightgrey;
    padding: 0 0.5em;
    color: #666;
    font-style: italic;
    border: 1px outset;
}
