
form[name=http-put-form] input[type=submit] {
    padding: 0.5em 1em;
    margin: 0.5em;
}

.channel.http-response-400 {
    border: 1px solid red;
}

.channel.http-browser {
    min-height: 15em;
}

.channel.http-browser nav {
    background-color: lightgray;
    border: 1px outset;
}

.channel.http-browser input[name=url] {
    width: 21em;
}

.channel.http-browser nav input[name=url] {
    padding: 1px 5px;
}

.channel.http-browser nav button {
    /* height: 24px; */
    /* vertical-align: top; */
    margin: 1px;
    border: 0;
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px 1px #999;
    background-color: transparent;
}

.channel.http-browser .http-body {
    min-height: 11em;
}

.channel.http-browser .http-status {
    background-color: lightgrey;
    padding: 0 0.5em;
    color: #666;
    font-style: italic;
    border: 1px outset;
}


/** Visibility **/

form[name=http-put-form] .show-on-passphrase-required,
form[name=http-put-form].compact .hide-on-compact{
    display: none;
    /*animation: fade-out 0.5s;*/
}
form[name=http-put-form] .hide-on-compact,
form[name=http-put-form].passphrase-required .show-on-passphrase-required {
    display: inherit;
    animation: rest-fade-in-resize-height 2s;
}

/** Animation **/


@keyframes rest-fade-in-resize-height {
    from {
        max-height: 5px;
    }
    to {
        max-height: 200px;
    }
}