/** BODY **/

body.theme-minimal {
    font-family: monospace;
/*     vertical-align: top; */
}



/** General **/

li {
    font-family: monospace;
    color: #333;
}

.theme-minimal a {
    text-decoration: none;
    color: darkblue;
}


/** Channels **/


.theme-minimal > article {
    display: inline-block;
    margin: 0.5em;
    /* position: relative; */
    vertical-align: top;
    background: #FEFEFE linear-gradient(to top left, #DDF, #F4FCFF, #FFF);
    border-radius: 2px;
    transition: 0.5s ease-out;
    transition-delay: 0.2s;
    animation: theme-minimal-article-fade-in .5s ease-out forwards;
    /* max-height: 80em; */
    /* max-width: 64em; */
    float: left;
}

@keyframes theme-minimal-article-fade-in {
    from {
        opacity: 0;
        transform : translate(10px, 10px);
    }

    to {
        opacity: 1;
        transform : translate(0, 0);
    }
}

.theme-minimal > article:hover {
    /*cursor: pointer;*/
    box-shadow: 1px 2px 6px #999;
}

.theme-minimal > article:last-child {
}


/** Channel Windows **/

.theme-minimal > article.closed {
    display: none;
}

.theme-minimal > article:not(.minimized) {
}
.theme-minimal > article.minimized {
    min-width: 16em;
    max-height: 20px;
    max-width: 24em;
    overflow: hidden;
    transition: 1s ease-in;
    opacity: 0.6;
}

.theme-minimal > article.maximized {
    min-width: 16em;
    position: absolute;
    z-index: 2;
    top: 10%;
    bottom: inherit;
    left: 10%;
    box-shadow: 0 0 4em #558;
    transition: 500ms;
    /* transform: translate(50%, 0%); */
    font-size: large;
}

.theme-minimal > article:not(.maximized) {
}

/** Headers and Footers **/

.theme-minimal > article > header > a:first-child {
    display: block;
}

.theme-minimal > article > footer,
.theme-minimal > article > header {
    background: linear-gradient(to bottom right, #E5DDD5, #F5FFF5);
    text-indent: 0.3em;
    padding: 0 0 0.3em 0;
    border-bottom: 2px double threedface;
}

.theme-minimal > article > footer:last-of-type {
    padding: 0 0 0.1em 0;
    /* border-top: 2px double threedface; */
}
.theme-minimal > article:hover > header:first-of-type {
    font-weight: bold;
/*     text-decoration: underline; */
}

.theme-minimal > article > .header-bar-buttons {
    position: absolute;
    right: 2px;
    top: 0;
}
.theme-minimal > article > .header-bar-buttons a {
    text-decoration: none;
    color: #888;
}
.theme-minimal > article > .header-bar-buttons a:hover {
    color: black;
}


/** Sections **/

.theme-minimal > article > main {
    background-color: white;
}

.theme-minimal > article > section {
    background-color: #F5F5FA;
}


/** Span Formats **/

.theme-minimal span.username {
    color: darkblue;
    text-overflow: ellipsis;
}


.theme-minimal span.message {
/*     color: black; */
}

.theme-minimal span.command{
    color: green;
    text-transform: uppercase;
    font-size: smaller;
    font-family: monospace;
}

.theme-minimal span.action {
    color: red;
    font-size: smaller;
    font-style: italic;
}

.theme-minimal span.response {
    color: blue;
    text-transform: uppercase;
    font-size: smaller;
    font-style: italic;
}

.theme-minimal span.error {
    color: red;
    font-style: italic;
}

.theme-minimal span.passphrase {
    color: darkgreen;
    font-weight: bold;
}

.theme-minimal span.info {
    color: #666;
}

.theme-minimal span.success {
    color: darkblue;
    font-weight: bold;
    text-shadow: 2px 2px 4px #AAA;
}

.theme-minimal span.path {
    color: darkblue;
    text-decoration: underline;
    font-weight: bold;
}



/** Status Box **/

.theme-minimal .status-box {
    background-color: lightgrey;
}

.theme-minimal code.status-box,
.theme-minimal div.status-box {
    display: block;
    padding: 0.5em 1em;
    margin: 0 0 1em 0;
    background-color: lightgrey;
    max-width: 34em;
    animation: fadein 0.5s;
    overflow: auto;
    white-space: normal;
}


/*.theme-minimal .status-box:empty {*/
    /*display: none;*/
/*}*/

.theme-minimal code.status-box > * {
    animation: fadein 0.5s;
}

/** Inputs **/

.theme-minimal input[name=passphrase] {
    border-color: lightgreen;
    color: darkgreen;
    /* border-radius: 0.4em; */
}


/** Articles **/

.default-article-theme {
    background-color: #EEE;
    text-indent: 1em;
}

/* Animation */

@keyframes fade-in {
    from { opacity:0; }
    to { opacity:1; }
}

@keyframes fade-out {
    from { opacity:1; }
    to { opacity:0; }
}

@keyframes fade-in-resize {
    from {
        max-width: 5px;
        max-height: 5px;
    }
    to {
        max-width: 800px;
        max-height: 500px;
    }
}