/** Channels **/

.theme-minimal.layout-browser > article {
    display: inline-block;
    margin: 0.5em;
    vertical-align: top;
    /* background: linear-gradient(to bottom right, #E5DDD5, #F5FFF5); */
    background: #FEFEFE linear-gradient(to top left, #DDF, #F4FCFF, #FFF);
    box-shadow: 0.1em 0.2em 0.8em #999;
    border-radius: 0.4em;
    transition: 2s ease-out;
    /*transition-delay: 0.2s;*/
    /*animation: theme-minimal-article-fade-in .5s ease-out forwards;*/
    float: left;
}


.theme-minimal.layout-browser > article:hover {
    /*cursor: pointer;*/
    box-shadow: 0 0 3em #558;
    transition: 0.5s ease-out;

}


/** Channel Windows **/

.theme-minimal.layout-browser > article.closed {
    display: none;
}

.theme-minimal.layout-browser > article.minimized {
    min-width: 16em;
    max-height: 20px;
    max-width: 24em;
    overflow: hidden;
    transition: 1s ease-in;
    opacity: 0.6;
}

.theme-minimal.layout-browser > article.maximized {
    /* min-width: 10em; */
    position: absolute;
    z-index: 2;
    top: 10%;
    bottom: inherit;
    left: 10%;
    /*transition: 500ms;*/
    /* transform: translate(50%, 0%); */
    font-size: x-large;
    /* border-radius: 1em; */
}
