article.vote-booth\3A {
    /* right: 1em; */
    /* position: absolute; */
    /* top: 1em; */
    float: right;
    min-width: 30em;
}

.vote-booth\3A > main {
    padding: 0.5em 1em;
    border: 1px inset;
    background: #EEE;
}

.vote-booth-list .open {
    color: green;
}

.vote-booth-list .connecting {
    color: blue;
}

.vote-booth-list .closing {
    color: red;
}

.vote-booth-list .closed {
    color: darkred;
}