article.about\3A {
}

article.about\3A:not(.maximized) {
    position: absolute !important;
    right: 2%;
    min-width: 60vw;
    bottom: 1em;
}

article.about\3A.maximized {
    top: 2%;
    min-width: 43em;
}

.about\3A > main,
.about\3A > section {
    /* width: 63em; */
    /* height: 34em; */
    /* overflow: auto; */
    padding: 1em;
    border: 3px inset;
    background: #EEE;
    font-size: smaller;
}