article.about\3A {
    position: absolute !important;
    bottom: 1em;
    /* float: right; */
    right: 2%;
    /* max-width: 47em; */
}

article.about\3A.maximized {
    left: inherit;
    top: 2%;
}

.about\3A > main,
.about\3A > section {
    /* width: 63em; */
    /* height: 34em; */
    /* overflow: auto; */
    padding: 1em;
    border: 3px inset;
    background: #EEE;
    font-size: smaller;
}