article.about\3A {
    position: absolute !important;
    bottom: 1em;
    /* float: right; */
    right: 1em;
    max-width: 45em;
}

.about\3A > main {
    /* width: 63em; */
    height: 34em;
    overflow: auto;
    padding: 1em;
    border: 3px inset;
    background: #EEE;
    font-size: smaller;
}