
.pgp-signed-message {
    white-space: pre;
    font-style: italic;
}
.pgp-signed-message.verification-required {
    color: red;
    display: block;
}
.pgp-signed-message.verified {
    color: inherit;
    display: none;
}

.found-session-uid {
    display: none;
}

form[name=channel-form] {
    min-width: 29em;
    font-family: monospace;
}


form[name=channel-form] input[name=message] {
    font-family: monospace;
}

form[name=channel-form] input[type=submit] {
}

form[name=channel-form] .pgp-message {
    white-space: pre;

    width: 1em;
    height: 1em;

    border: 2px solid;
    overflow: hidden;
    background-color: #EEA;
    color: #111;
}

form[name=channel-form] .pgp-message:hover {
/*     max-height: 8em; */
    width: 35em;
    height: 21em;
}

form[name=channel-form] .channel-log {
    overflow: auto;
    max-height: 18em;
    max-width: 48em;
    min-width: 32em;
    background-color: white;
}

form[name=channel-form] .channel-log .channel-log-entry {
    border: 1px solid transparent;
    overflow: hidden;
    max-height: 5em;
}

form[name=channel-form] .channel-log .channel-log-entry:hover {
    border-radius: 0.2em;
    border: 1px solid lightgrey;
    overflow: hidden;
    max-height: inherit;
}
