/** Article **/

article.ks-feed\3A > main,
article.ks-feed\3A > section {
    padding: 1em 2em 1em 2em;
    border: 3px inset;
    background: #EEE;
    max-height: 42em;
    overflow-y: auto;
}

article.ks-feed\3A  .status-box:empty {
    display: none;
}

/** Form **/

form[name=ks-feed-put-form] textarea[name=content] {
    width: 34em;
    /* padding: 0; */
    margin: 0;
}

form[name=ks-feed-put-form] textarea,
form[name=ks-feed-put-form] select,
form[name=ks-feed-put-form] input {
    padding: 0.7em 0.8em;
    margin: 0.5em 0;
    border-radius: 0.6em;
    border-width: 1px;
    font-family: monospace;
}

form[name=ks-feed-put-form] input[type=submit]:enabled {
    font-weight: bold;
    transition: 1s;
    transition-delay: 1s;
    box-shadow: 0 0 3em #5F5;
    cursor: pointer;
}


form[name=ks-feed-put-form].no-passphrase-required .hide-on-no-passphrase-required {
    display: none;
}

form[name=ks-feed-put-form].passphrase-accepted input[type=password] {
    font-weight: bold;
    color: green;
    background-color: #EFFFEF;
}

/** Compact Form **/

form[name=ks-feed-put-form].compact .hide-on-compact,
form[name=ks-feed-put-form]:not(.compact) .show-on-compact {
    display: none;
}


/** Feed Entry **/

.ks-feed-entries\3A > .ks-feed-entry\3A {
    border: 1px inset;
    padding: 0.5em;
    margin: 1.5em 0 0.5em 0;
    border-radius: 0.5em;
    background-color: white;
    /*     overflow: auto; */
    /*     width: 36em; */
    animation: ks-feed-entry-fade-in .5s linear forwards;
    /* font-size: 2vw; */
}


.ks-feed-entries\3A > .ks-feed-entry\3A > article {
    overflow: auto;
    /* width: 36em; */
    max-height: 18em;
    /* font-size: 2vw; */
}

.ks-feed-entries\3A > .ks-feed-entry\3A:empty {
    display: none;
}

.ks-feed-entries\3A > .ks-feed-entry\3A button.command {
    padding: 0.2em 0.5em;
    margin: 0.1em;
    transition: 1s;
    opacity: 1;
}

.ks-feed-entries\3A > .ks-feed-entry\3A .timestamp_formatted {
    color: gray;
}


.ks-feed-entry-template\3A {
    display: none;
}

.ks-feed-entry\3A > .ks-unverified-content {
    max-height: 7em;
    color: grey;
}

@keyframes ks-feed-entry-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/** Feed Entry Preview **/


.ks-feed-entries\3A > .ks-feed-entry.ks-put-preview\3A {
/*     border-width: 2px 1px; */
    background: linear-gradient(to bottom right, #FFF, #E5FEE5);

}

/** Timestamp **/
.timestamp_formatted {
    float: right;
    font-style: italic;
    color: grey;
}

/** Icon **/

.user_icon {
    float:left;
    width: 48px;
    height: 48px;
    vertical-align: top;
}

.user_icon.tiny {
    width: 24px;
    height: 20px;
}
