
/** Article **/

article.ks-put\3A > main,
article.ks-put\3A > section {
    padding: 1em 2em 1em 2em;
    border: 3px inset;
}

article.ks-put\3A  .status-box:empty {
    display: none;
}


/** Compact **/

article.ks-put\3A.compact .hide-on-compact {
    animation: ks-put-form-max-height 1s ease-out 0s forwards;
}

article.ks-put\3A:not(.compact) .show-on-compact {
    animation: ks-put-form-max-height 1s ease-out 0.7s forwards;
}

/** Form **/


form[name=ks-put-form] textarea,
form[name=ks-put-form] select,
form[name=ks-put-form] input {
    padding: 0.7em 0.8em;
    margin: 0.5em 0;
    border-radius: 0.6em;
    border-width: 1px;
    font-family: monospace;
}

form[name=ks-put-form] input[type=submit]:enabled {
    font-weight: bold;
    transition: 1s;
    transition-delay: 1s;
    box-shadow: 0 0 3em #5F5;
    cursor: pointer;
}


form[name=ks-put-form].no-passphrase-required .hide-on-no-passphrase-required {
    display: none;
}

form[name=ks-put-form].passphrase-accepted input[type=password] {
    font-weight: bold;
    color: green;
    background-color: #EFFFEF;
}

/** Animation **/

@keyframes ks-put-form-max-height {
    100% {
        visibility: hidden;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        position: absolute;
    }
    99% {
        visibility: visible;
        /*margin: 1em;*/
    }
    0% {
        max-height: 5em;
        opacity: 1;
    }
}