.ks-create-wizard\3A > main,
.ks-create-wizard\3A > form > section,
.ks-create-wizard\3A > section {
    min-width: 30em;
    padding: 1em 2em 1em 2em;
    border: 3px inset;
    background-color: #FAFAFA;
}

.ks-create-wizard\3A  .ks-create-wizard-preview-output\3A:empty,
.ks-create-wizard\3A  .ks-create-wizard-source-output\3A:empty {
    display: none;
}

.ks-create-wizard\3A  .ks-create-wizard-source-output\3A {
    /* tab-size: 2px; */
    white-space: pre-wrap;
    margin: 0;
    /* font-style: italic; */
}

form[name=ks-create-wizard] .section-step {
    clear: left;
}


/** Form Buttons **/
form[name=ks-create-wizard] button,
form[name=ks-create-wizard] input,
form[name=ks-create-wizard] select {
    padding: 0.5em 1em;
}

/** Hide Radio Buttons **/
form[name=ks-create-wizard] input[name=radio-step] {
    display: none;
}

/** Tab Buttons **/
form[name=ks-create-wizard] .button-step {
    /* font-weight: bold; */
    border: 2px outset;
    padding: 0.5em 1em;
    display: inline-block;
    /* font-style: italic; */
    float: left;
}

/** Hide Future Tab Button **/
form[name=ks-create-wizard] input[name=radio-step]:checked ~ .button-step {
    display: none;
}

/** Activated Tab Button **/
form[name=ks-create-wizard] input[name=radio-step]:checked + .button-step {
    border-style: inset;
    display: inline-block;
    font-weight: bold;
}
