.pgp-contact\3A {
    min-width: 14em;
    /* max-width: 30em; */
}

/** Contact List**/

.pgp-contact-section\3A {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pgp-contact-section-header\3A {
    cursor: pointer;
    border: 1px outset;

    font-weight: bold;
    padding: 1em 2em;
    margin: 0.5em 0 0 0;

    background-color: lightgrey;

    border-radius: 1em;

    transition: 1s;
}

.pgp-contact-section-details\3A[open] .pgp-contact-section-header\3A {
    padding: 0.4em 1em 0.3em 1em;
    border-radius: 0.5em 0.5em 0 0;
}

.pgp-contact-section-details\3A {
    transition: 1s;
    padding: 0;
    open: none;
}
.pgp-contact-section-details\3A[open] {
    padding: 0 0.5em 1em 0.5em;
}


/** Contact Entry **/

.pgp-contact-entry\3A {
    cursor: pointer;
    /* padding: 0.2em 0.5em; */
    border: 1px outset;
    overflow: hidden;
    transition: 1s ease-in;
}

.pgp-contact-entry\3A:hover, 
.pgp-contact-entry\3A:hover {
    box-shadow: 0 0 2em #558;

    transition: 0.4s ease-out;
}

.pgp-contact-entry-name\3A {
/*     font-weight: bold; */
/* display: block; */
}

.pgp-contact-entry\3A:hover .pgp-contact-entry-name\3A {
    font-weight: bold;
}


.pgp-contact-entry-status\3A {
    /* display: block; */
    color: #AAA;
}

.pgp-contact-entry-icon\3A {
    width: 2em;
    height: 2em;
    float: right;
    clear: right;
}

/** Form **/

form[name=pgp-contact-list-form] {
    padding: 2px;
    border: 1px inset;
}

form[name=pgp-contact-list-form] .status-box:empty {
    display: none;
}

form[name=pgp-contact-list-form] select[name=command] {
    padding: 0.5em 1em;
    margin: 0.4em 0.2em 0 0.2em;
    border-radius: 0.6em;
    border-width: 1px;
}

form[name=pgp-contact-list-form] input[type=checkbox].pgp-contact-entry-checkbox\3A {
    display: none;
}

form[name=pgp-contact-list-form] .pgp-contact-entry-label\3A {
    cursor: pointer;
    display: block;
    padding: 0.2em 0.5em;
    transition: 1s;
}

form[name=pgp-contact-list-form] .pgp-contact-entry-checkbox\3A:checked
 + .pgp-contact-entry-label\3A {
    background-color: #AFA;
    padding:  0.5em;
}

form[name=pgp-contact-list-form] .pgp-contact-entry-checkbox\3A:checked
 + .pgp-contact-entry-label\3A {
    font-weight: bold;
}

