.layout-horizontal .ui-login\3A {
    min-width: 20em;
    float: right;
    clear: right;
}

.ui-login\3A  main{
    min-height: 20em;
    /* background-color: white; */
}

.ui-login\3A.maximized{
    left: 5% !important;
/*     bottom: 5% !important; */
    top: 5% !important;
    right: 5% !important;
}

/** Form **/

form[name=ui-login-form] {
    padding: 2px;
    border: 1px inset;
    position: relative;
}


form[name=ui-login-form] .status-box:empty {
    display: none;
}


/** Buttons **/


.ui-login-button {
    padding: 2em;
    display: block;
    border: outset;
    margin: 1em;
    background: #DDD;
    text-align: center;
    font-size: 3vw;
}

.ui-login-button.disabled {
    color: grey;
    opacity: 0.6;
}