

.ks-put-manage-commands > a {
    display: inline-block;
    text-decoration: none;
    background: ButtonFace;
    color: ButtonText;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    padding: 0.7em 0.8em;
    border-radius: 0.6em;
    border: 1px outset;
}

/** Form **/

form[name=ks-put-manage-form] select,
form[name=ks-put-manage-form] button,
form[name=ks-put-manage-form] input {
    padding: 0.7em 0.8em;
    margin: 0.5em 0;
    border-radius: 0.6em;
    border-width: 1px;
    font-family: monospace;
}

form[name=ks-put-manage-form] input[type=submit]:enabled {
    font-weight: bold;
    transition: 2s;
    transition-delay: 1s;
    box-shadow: 0 0 3em #5F5;
    cursor: pointer;
}


form[name=ks-put-manage-form].no-passphrase-required .hide-on-no-passphrase-required {
    display: none;
}

form[name=ks-put-manage-form].passphrase-accepted input[type=password] {
    font-weight: bold;
    color: green;
    background-color: #EFFFEF;
}
