.log-content\3A {
    padding: 1em 2em 1em 2em;
    border: 3px inset;
    background: #EEE;
    max-height: 15em;
    overflow-y: auto;
}

.log\3A {
    float: right;
}

.log-entry {
    max-width: 40em;
}

.log-entry span.message {
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
    display: inline-block;
}

.log-entry span.direction {
    vertical-align: top;
}