form[name=beta-subscription-form].success .hide-on-success,
form[name=beta-subscription-form].error .hide-on-error,
form[name=beta-subscription-form] .message:empty {
    display:none;
}

form[name=beta-subscription-form] fieldset {
    border: 3px solid black;
    border-radius: 0.5em;
}
form[name=beta-subscription-form] fieldset legend {
    font-weight: bold;
}

form[name=beta-subscription-form].success fieldset {
    border-color: cornflowerblue;
    display: block;
}
form[name=beta-subscription-form].error fieldset {
    border-color: indianred;
    display: block;
}


form[name=beta-subscription-form] input {
    border-radius: 6px;
    padding: 0.2em;
    margin: 0.1em;
}